In [17]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pyrfume
from pyrfume.odorants import cids_to_cas

In [2]:
cids = pyrfume.load_data('odorants/all_cids.csv').index

In [3]:
cas = cids_to_cas(cids)

[-----------------------99%----------------------] 9700 out of 9764 complete (Retrieving 9700 through 9763)

In [6]:
print("Out of %d molecules, %d have CAS numbers" % (len(cids), len([x for x in cas.values() if x])))

Out of 9764 molecules, 7902 have CAS numbers

In [26]:
counts = pd.Series([len(x) for x in cas.values()]).value_counts()
counts.index.name = 'Number of unique CAS values'
counts.name = 'Number of molecules'
counts.to_frame()

                             Number of molecules
Number of unique CAS values
1                                           5884
0                                           1862
2                                           1471
3                                            419
4                                             75
5                                             24
6                                             14
7                                              9
9                                              3
8                                              2
19                                             1

In [35]:
to_save = pd.Series(cas)
to_save.index.name = 'CID'
to_save.name = 'CAS'
to_save.head()

CID
4                                  [78-96-6, 1674-56-2]
11                               [107-06-2, 52399-93-6]
47                              [1460-34-0, 39748-49-7]
49                                           [759-05-7]
51    [328-50-7, 17091-15-5, 378-50-7, 997-43-3, 222...
Name: CAS, dtype: object

In [36]:
pyrfume.save_data(to_save.to_frame(), 'odorants/cid_to_cas.csv')