In [ ]:
import bs4
import os
import pandas as pd
from urllib.request import urlopen

import pyrfume
from pyrfume import odorants

In [ ]:
url = 'http://www.flavornet.org/cas.html'
f = urlopen(url)
html = f.read()
soup = bs4.BeautifulSoup(html)

In [ ]:
cas_list = []
rows = soup.find('table').find_all('tr')
for row in rows[1:]:
    cas = row.find('td').text
    cas_list.append(cas)

In [ ]:
cids = odorants.get_cids(cas_list, kind='name')

[-----------------------100%---------------------] 738 out of 738 complete
Could not find 359794-78-8
Could not find 168564-54-3
Could not find 134452-45-2
Could not find 134346-43-3
Could not find 131092-10-9


Could not find 97-47-3
Could not find 465-31-6
Could not find 619-62-5
Could not find 3792-53-8
Could not find 4955-29-7
Could not find 4959-35-7
Could not find 5944-20-7
Could not find 10395-54-7
Could not find 13955-48-1
Could not find 15456-69-6
Could not find 16750-94-0
Could not find 18675-35-9
Could not find 19888-33-6
Could not find 21284-22-0
Could not find 24703-35-3
Could not find 27400-71-1
Could not find 27576-03-0
Could not find 28231-03-0
Could not find 28982-60-7
Could not find 29873-99-2
Could not find 30021-74-0
Could not find 32495-14-0
Could not find 34318-21-3
Could not find 36564-42-8
Could not find 43160-78-7
Could not find 51193-77-2
Could not find 57461-21-9
Could not find 58181-76-3
Could not find 58334-55-7
Could not find 65128-99-6
Could not find 72203-97-5
Could not find 72203-98-6
Could not find 72755-76-1
Could not find 73744-93-1
Could not find 77026-83-6
Could not find 77026-84-7
Could not find 81018-77-1
Could not find 92356-06-4
Could not find 92760-25-3
Could not find 95722-42-2
Could not find 95908-33-1
Could not find 114791-16-1
Could not find 120021-96-7
Could not find 125811-37-2
Could not find 128386-31-2
Could not find 131092-10-9
Could not find 134346-43-3
Could not find 134452-45-2
Could not find 168564-54-3
Could not find 359794-78-8

In [ ]:
df = pd.Series(cids, name='CID').to_frame()
df.head()

          CID
57-06-7  5971
60-12-8  6054
64-17-5   702
64-19-7   176
65-85-0   243

In [ ]:
file_path = os.path.join(pyrfume.DATA, 'flavornet.csv')
df.to_csv(file_path)